Certificate Eligibility.json
{
  "name": "Certificate Eligibility",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1L7dvMiChbovuFHwinpgqc5cUIVFNDxniZVg0mCbp-IU",
          "mode": "list",
          "cachedResultName": "Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L7dvMiChbovuFHwinpgqc5cUIVFNDxniZVg0mCbp-IU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 965312784,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L7dvMiChbovuFHwinpgqc5cUIVFNDxniZVg0mCbp-IU/edit#gid=965312784"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        16
      ],
      "id": "2b386dae-5eb2-477e-b2af-69b5c76357c2",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "dnquQYmpNWN9TBmW",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f669b3e-c542-4bc7-b0ae-d9b665d61c19",
              "leftValue": "={{ $json['Monthly Assesment Marks (Out of 100)'] }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f4c045ec-0d68-4977-9155-5818c2ab642c",
              "leftValue": "={{ $json['Total Tasks Completed (Out of 10)'] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "8475c0de-c416-4616-9290-8e06335363d4",
              "leftValue": "={{ $json['Total Assignments Completed (Out 0f 10)'] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f269b7e8-ab31-4db9-9c26-f047db2fb1ac",
              "leftValue": "={{ $json['Quiz Marks (Out of 100)'] }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "97e0c77d-7acb-477a-8d45-7f4d8c3cf6d9",
              "leftValue": "={{ $json['Project Presentation Completed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        16
      ],
      "id": "eccad15d-6a95-4908-9123-399dced87c67",
      "name": "Gold"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f669b3e-c542-4bc7-b0ae-d9b665d61c19",
              "leftValue": "={{ $json['Monthly Assesment Marks (Out of 100)'] }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "beadc01f-176b-42d6-b766-c54c92ac9979",
              "leftValue": "={{ $json['Monthly Assesment Marks (Out of 100)'] }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "f4c045ec-0d68-4977-9155-5818c2ab642c",
              "leftValue": "={{ $json['Total Tasks Completed (Out of 10)'] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "8475c0de-c416-4616-9290-8e06335363d4",
              "leftValue": "={{ $json['Total Assignments Completed (Out 0f 10)'] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f269b7e8-ab31-4db9-9c26-f047db2fb1ac",
              "leftValue": "={{ $json['Quiz Marks (Out of 100)'] }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "97e0c77d-7acb-477a-8d45-7f4d8c3cf6d9",
              "leftValue": "={{ $json['Project Presentation Completed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "38f0caf7-504f-4684-aeca-37fad330f66d",
              "leftValue": "={{ $json['Quiz Marks (Out of 100)'] }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        64
      ],
      "id": "7211b405-ecec-4231-b4f9-d99a93833d77",
      "name": "Silver"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f669b3e-c542-4bc7-b0ae-d9b665d61c19",
              "leftValue": "={{ $json['Monthly Assesment Marks (Out of 100)'] }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f4c045ec-0d68-4977-9155-5818c2ab642c",
              "leftValue": "={{ $json['Total Tasks Completed (Out of 10)'] }}",
              "rightValue": "10",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8475c0de-c416-4616-9290-8e06335363d4",
              "leftValue": "={{ $json['Total Assignments Completed (Out 0f 10)'] }}",
              "rightValue": "10",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f269b7e8-ab31-4db9-9c26-f047db2fb1ac",
              "leftValue": "={{ $json['Quiz Marks (Out of 100)'] }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "97e0c77d-7acb-477a-8d45-7f4d8c3cf6d9",
              "leftValue": "={{ $json['Project Presentation Completed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "beadc01f-176b-42d6-b766-c54c92ac9979",
              "leftValue": "={{ $json['Monthly Assesment Marks (Out of 100)'] }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "38f0caf7-504f-4684-aeca-37fad330f66d",
              "leftValue": "={{ $json['Quiz Marks (Out of 100)'] }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        176
      ],
      "id": "080715a1-b34f-4c9f-855b-150ff1ad0062",
      "name": "Bronze"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email ID'] }}",
        "subject": "🎉 Congratulations! You’re Eligible for the Gold Certificate",
        "emailType": "text",
        "message": "=Hello {{ $json.Name }} , \n\nCongratulations! Based on your outstanding performance,  \nyou are eligible for the **Gold Certificate**.  \nKeep up the great work and continue shining! ✨  \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -624,
        -128
      ],
      "id": "7ebf9815-e7cf-4e12-bdd0-fa14f0c64151",
      "name": "Gold Email",
      "webhookId": "ba435ff2-2a5f-4422-9ea1-7d7aa3d9dcd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "vReXzJ0FJFmfqEZf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email ID'] }}",
        "subject": "Good Job! You’ve Earned the Silver Certificate",
        "emailType": "text",
        "message": "=Hello {{ $json.Name }} , \n\nGreat effort! Based on your results,  \nyou are eligible for the **Silver Certificate**.  \nKeep pushing forward — Gold is just one step away! 🏅  \n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -352,
        16
      ],
      "id": "617f1934-f07b-4396-91e5-7ca4b363798c",
      "name": "Silver Email",
      "webhookId": "ba435ff2-2a5f-4422-9ea1-7d7aa3d9dcd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "vReXzJ0FJFmfqEZf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email ID'] }}",
        "subject": "You’re Eligible for the Bronze Certificate",
        "emailType": "text",
        "message": "=Hello {{ $json.Name }} , \n\nWell done! You’ve qualified for the **Bronze Certificate**.  \nKeep practicing and improving to reach Silver or Gold levels next time! 💪 \n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -48,
        96
      ],
      "id": "e2f875ae-613e-4a0c-8c4b-d8be0fe22240",
      "name": "Bronze Email",
      "webhookId": "ba435ff2-2a5f-4422-9ea1-7d7aa3d9dcd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "vReXzJ0FJFmfqEZf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email ID'] }}",
        "subject": "Update on Your Certificate Eligibility",
        "emailType": "text",
        "message": "=Hello {{ $json.Name }} , \n\nThank you for your participation.  \nCurrently, you are **not eligible** for a certificate.  \nTo qualify, complete all tasks, assignments, and quizzes,  \nand improve your marks based on the given criteria.  \nYou’ve got this — keep trying! 💫 \n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        304
      ],
      "id": "86f213e8-db00-4717-988c-363f2d8af103",
      "name": "Not Eligible",
      "webhookId": "ba435ff2-2a5f-4422-9ea1-7d7aa3d9dcd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "vReXzJ0FJFmfqEZf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Gold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gold": {
      "main": [
        [
          {
            "node": "Gold Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Silver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silver": {
      "main": [
        [
          {
            "node": "Silver Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bronze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bronze": {
      "main": [
        [
          {
            "node": "Bronze Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54c36f72-f595-4d5d-bf58-5c9372aa0920",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea9456679ea708b156199abd404235ac7bddca61cb7abf2c4612672d9eac3a60"
  },
  "id": "Vah93glKRzex2jHU",
  "tags": []
}